.lastGames {
    background-color: #FFFFF0;
    border-radius: 25px;
    display: flex;
    align-items: center;
    /* Test field */
    height: 180px;

}

.lastGames-inner {
    display: flex;
    align-items: center;


    /* overflow-x: hidden; */
}

.lastGamesHeader {
    font-family: 'Sedgwick Ave Display', cursive;
    color: #fffada;
}

.tableCustome {
    --bs-table-bg: #fffff0 !important;
}

#container {
    margin-top: 3rem;
}

.scoreBoard {
    background-color: #FFFFF0;
    border-radius: 25px;
    margin-right: 1rem;

}

.challenges {
    background-color: #FFFFF0;
    border-radius: 25px;
    padding-bottom: 1rem;
}

.tableDiv {
    padding: 2rem;
}

.scoreBoardImg {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.scoreImgDiv {
    width: 70px;
    height: 70px;
}

.scoreText {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
}

.challengesBoardImg {
    margin-left: 10%;
    margin-right: 10%;
    height: 80px;
    display: flex;
    align-items: center;


    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid black;
}

.challengesImgDiv {
    width: 70px;
    height: 70px;
}

.challengesText {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    margin: 0;
    padding-left: 0.5rem;
}

.spinner-container {
    display: flex;
    justify-content: center;
    /* align items horizontally */
    align-items: center;
    /* align items vertically */
    height: 180px;
    /* adjust height as needed */

}

.spinnereText{
    margin-left: 1rem;
    font-size: 1.5rem;
    color:white
}